# DIRECTORIES
out/
logs/
tensorboard/

# PYTHON CLUTTER
__pycache__/
*.pyc

# IMAGES
*.png
*.tiff
*.tif

# ZIP FILES
*.zip

# NUMPY STUFF
*.npy

# csv files
*.csv

# IPYTHON NOTEBOOK CLUTTER
.ipynb_checkpoints
